body {
  background: #1E293B;
  color: #8C9AB1;
  font-family: sans-serif;
  padding: 1em;
  text-align: center;
}

h1 {
  color: #F5835F;
}

a {
  color: white;
}

li {
  list-style: none;
}

nav ul {
  display: flex;
  justify-content: space-between;
}
